// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');

@font-face {
    font-family: KG Life;
    src: url(../fonts/KGLifeisMessy.ttf);
}

$vermelho: #5e1014;
$laranja: #d4871f;
$font-title: "KG Life", cursive;
$font-text : 'Montserrat', sans-serif;
/* Space out content a bit */
body {
  padding-bottom: 1.5rem;
  background-color: #f3f3f3;
  font-family: $font-text;
}
.topo{
  position: fixed;
  left: 0;
  display: flex;
  padding: 10px 0;
  nav{
    ul{
      margin: 0;
      padding: 25px 0px 20px;
      list-style: none;
      display: flex;
      border: 1px solid red;
      li{
        border: 1px solid red;
        align-self: center;
        flex: 1 1 auto;
        a{
          display: block;
          text-align: center;
          text-transform: uppercase;
          color: #fafafa;
        }
      }
    }
  }
}