$vermelho: #5e1014;
$laranja: #d4871f;
$preto-opacity: rgba(7,7,7,.5);
$font-title: "KG Life", cursive;
$font-text : 'Montserrat', sans-serif;
$hamburger-layer-color: #f3f3f3;
$hamburger-padding-y: 25px;
// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
@import "bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');

@font-face {
    font-family: KG Life;
    src: url(../fonts/KGLifeisMessy.ttf);
}



/* Space out content a bit */
body {
  background-color: #f3f3f3;
  font-family: $font-text;
  font-size: 13px;
}
.topo{
  position: fixed;
  left: 0;
  right: 0;
  flex-wrap: wrap;
  margin: 0 auto;
  display: flex;
  padding: 10px 0;
  z-index: 10;
  nav{
    ul{
      margin: 0;
      padding: 25px 0px 20px;
      list-style: none;
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 768px){
        display: none;
      }
      &.open{
        position: absolute;
        display: block;
        background-color: $preto-opacity;
        transition: all .4s linear;
        padding: 0;
        top: 11px;
        right: 0;
        left: 0;
      }
      li{
        align-self: center;
        flex: 1 1 auto;
        @media screen and (max-width: 768px){
          flex: 1 1 100%;
          padding: 10px 0;
        }
        a{
          display: block;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          color: #fafafa;
          font-weight: 300;
          &.pedido{
            background-color: rgba(94,16,20,.8);
            border-radius: 20px;
            padding: 8px 0 8px;
            img{
              margin-right: 7px;
            }
          }
        }
      }
    }
  }
}

main{
  .slider{
    .slide{
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: $preto-opacity;
      background-blend-mode: multiply;
      height: 650px;
      @media screen and (max-width: 480px){
        height: 480px;
      }
    }
  }
}

.unidades{
  padding: 35px 0 20px;
  background-color: $vermelho;
  background-image: url('../images/Textura.png');
  .unidade{
    @media screen and (max-width: 445px){
      margin-top: 30px;
    }
  }
  @media screen and (max-width: 768px){
    text-align: center;
  }
  &__endereco{
    padding: 30px 0;
    &__icon{
      float: left;
      padding: 0 10px 20px 0;
      @media screen and (max-width: 768px){
        padding: 0;
        float: none;
      }
    }
    &__lista{
      margin: 0;
      padding: 0;
      li{
        h4{
          line-height: 21px;
        }
        &:last-child(){
          margin-top: 30px;
        }
      }
    }
  }
  h2,h3{
    color: $laranja;
  }
  h2{
    font-size: 13px;
  }
  h3{
    font-size: 11px;
  }
  h4{
    font-size: 14px;
    color: #f3f3f3;
    font-weight: 300;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

}
.btn{
  text-transform: uppercase;
  display: block;
  font-size: 11px;
  text-decoration: none;
  background-color: $laranja;
  color: #FFF;
  border-radius: 20px;
  max-width: 170px;
  &:hover{
    color: #FFF;
  }
  @media screen and (max-width: 768px){
    margin: 0 auto;
  }
}
.img-responsive{
  max-width: 100%;
  display: block;
  height: auto;
}
.cardapio{
  padding: 60px 0 100px;
  text-align: center;
  &__lista{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    flex: 1 1 50%;
    @media screen and (max-width: 768px){
      flex: 1 1 100%;
    }
    margin-bottom: 35px;
    &_imagem img{
      max-width: 100%;
      display: block;
      height: auto;
    }
    h3{
      text-transform: uppercase;
      font-weight: 600;
      font-size: 15px;
      color: #333333;
    }
    p{
      color: #7e7e8b;
      font-size: 14px;
      line-height: 21px;
      max-width: 300px;
      display: block;
      margin: 0 auto;
    }
  }
  h2{
    color: #333333;
    font-family: $font-title;
    font-size: 45px;
    line-height: 55px;
    span{
      text-transform: uppercase;
      font-size: 14px;
      display: block;
      font-family: $font-text;
      font-weight: 400;
      letter-spacing: 2px;
    }
  }
}
.novidades{
  height: 450px;
  padding: 54px 0;
  background-color: $preto-opacity;
  background-blend-mode: multiply;
  background-image: url('../images/BannerOriginal-Rodape.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #f3f3f3;
  &__box{
    background-color: rgba(212,135,31,.8);
    max-width: 460px;
    margin: 0 auto;
    padding: 54px 0;
  }
  h2{
    font-family: $font-title;
    font-size: 45px;
    line-height: 55px;
  }
  p{
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    max-width: 265px;
    display: block;
    margin: 20px auto;
  }
}
footer{
  padding: 65px 0;
  background-color: $vermelho;
  background-image: url('../images/Textura.png');
  color: #f3f3f3;
  @media screen and (max-width: 768px){
    .row > div{
      margin-bottom: 30px;
    }
  }
  img{
    display: block;
    margin: 0 auto;
  }
  p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    letter-spacing: 1.4px;
    &.wifi{
      margin-top: 20px;
        text-align: center;
    }
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    li{
      margin: 0 5px;
      @media screen and (max-width: 768px){
        flex: 1 1 auto;
      }
    }
  }
}